<%- include("layouts/header") %>
        <main>
            <% if(errors) { %>
                <% for (error of errors) { %>
                    <div class="error-message">
                        <p><%= error.msg %></p>
                        <!-- <p><a href="#">Close</a></p> -->
                    </div>
                <% } %>
            <% } %>
            <h1>Welcome to Category Page!!</h1>
            <div class="card-cont">
                <% if(categories.length === 0) { %>
                    <h1>No Categories Found!!!</h1>
                <% } %>
                <% for(category of categories) { %>
                    <div class="card">
                        <ul class="card-body">
                            <li class="card-item card-title">
                                <%= category.categoryName %>
                            </li>
                            <li class="card-item">
                                <h5>Category Id</h5>
                                <%= category.categoryId %>
                            </li>
                            <li class="card-item">
                                <a href="/category/edit/<%=category.categoryId %>">Edit</a>
                            </li>
                            <li class="card-item">
                                <a href="/category/delete/<%= category.categoryId%>">Delete</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>