<%- include("layouts/header") %>
        <main>
            <% if(errors) { %>
                <% for (error of errors) { %>
                    <div class="error-message">
                        <p><%= error.msg %></p>
                        <!-- <p><a href="#">Close</a></p> -->
                    </div>
                <% } %>
            <% } %>
            <h1>Welcome to Category Page!!</h1>
            <div class="card-cont">
                <% if(categories.length === 0) { %>
                    <h1>No Categories Found!!!</h1>
                <% } %>
                <% for(category of categories) { %>
                    <div class="card">
                        <ul class="card-body">
                            <li class="card-item card-title">
                                <%= category.categoryName %>
                            </li>
                            <li class="card-item">
                                <h5>Category Id</h5>
                                <%= category.categoryId %>
                            </li>
                            <li class="card-item">
                                <a 
                                href="/category/edit/<%=category.categoryId %>"
                                >Edit</a>
                            </li>
                            <li class="card-item">
                                <a 
                                id="deleteBtn" 
                                href="#" 
                                data-category-id="<%= category.categoryId %>"
                                >Delete</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
        <script>
            // Declarations
            const deleteBtnAll = document.querySelectorAll("#deleteBtn");
            
            // Event Handlers
            async function handleDeleteBtn(event) {
                const deleteBtn = event.target; 
                const categoryId = deleteBtn.getAttribute("data-category-id");

                console.log("category id = ", categoryId);

                try {
                    let response = await fetch(
                        `http://localhost:3000/category/${categoryId}`, 
                        {
                            method: "DELETE",
                    });
                    console.log("delete response = ", response);
                    if(response.ok) {
                        return window.location = response.url;
                    } 
                } catch(err) {
                    console.log("error name = ", err.name);
                    console.log("error message = ", err.message);
                    return;
                }
            }

            // Event Listeners
            deleteBtnAll.forEach(deleteBtn => {
                deleteBtn.addEventListener("click", handleDeleteBtn);
            })

        </script>
    </body>
</html>