
<%- include("layouts/header") %>        
        <main>
            <h1>Welcome to Product Page!!</h1>
            <div class="card-cont">
                <% for(product of products) { %>
                    <div class="card">
                        <ul class="card-body">
                            <li class="card-item card-title">
                                <%= product.productName %>
                            </li>
                            <li class="card-item">
                                <h5>Product Id</h5>
                                <%= product.productId %>
                            </li>
                            <li class="card-item">
                                <h5>Category Name</h5>
                                <%= product.categoryName %>
                            </li>
                            <li class="card-item">
                                <h5>Category Id</h5>
                                <%= product.categoryId %>
                            </li>
                            <li class="card-item">
                                <a href="#">Edit</a>
                            </li>
                            <li class="card-item">
                                <a href="/product/delete/<%=product.productId %>">Delete</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>