
<%- include("layouts/header") %>        
        <main>
            <% if(errors) { %>
                <% for (error of errors) { %>
                    <div class="error-message">
                        <p><%= error.msg %></p>
                        <!-- <p><a href="#">Close</a></p> -->
                    </div>
                <% } %>
            <% } %>
            <h1>Welcome to Product Page!!</h1>
            <form
            class="form-container"
            action="/product" 
            method="GET"
            style="
            display: flex; 
            flex-direction: row;
            gap: 20px;
            ">
                <div class="form-group" >
                    <label 
                    for="page" 
                    class="form-label">Page Number:</label>
                    <input 
                    class="form-input"
                    type="text" 
                    id="page" 
                    name="page" 
                    required
                    min="1"
                    value="<%= page %>">
                </div>
                <br>
                <div class="form-group" >
                    <label 
                    for="pageSize" 
                    class="form-label">Page Size:</label>
                    <input 
                    class="form-input"
                    type="text" 
                    id="pageSize" 
                    name="pageSize" 
                    min="5"
                    required
                    value="<%= pageSize %>">
                </div>
                <button class="form-button" type="submit">Search</button>
            </form>
            <div class="card-cont">
                <% if(!products.length) {  %>
                    <div style="display:flex; flex-direction: column;">
                        <h1>Invalid Page Number!!!</h1>
                        <br>
                        <h4>No Product available on this Page!!!</h4>
                        <br>
                        <h4>Go Back,
                            <a href="/product">Product Page</a>
                        </h4>
                    </div>
                <% } %>
                <% for(product of products) { %>
                    <div class="card">
                        <ul class="card-body">
                            <li class="card-item card-title">
                                <%= product.productName %>
                            </li>
                            <li class="card-item">
                                <h5>Product Id</h5>
                                <%= product.productId %>
                            </li>
                            <li class="card-item">
                                <h5>Category Name</h5>
                                <%= product.categoryName %>
                            </li>
                            <li class="card-item">
                                <h5>Category Id</h5>
                                <%= product.categoryId %>
                            </li>
                            <li class="card-item">
                                <a 
                                href="/product/edit/<%= product.productId %>">Edit</a>
                            </li>
                            <li class="card-item">
                                <a 
                                id="deleteBtn"
                                href="#"
                                data-product-id="<%= product.productId %>"
                                >Delete</a>
                            </li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
        <script>
            // Declarations
            const deleteBtnAll = document.querySelectorAll("#deleteBtn");
            
            // Event Handlers
            async function handleDeleteBtn(event) {
                const deleteBtn = event.target; 
                const productId = deleteBtn.getAttribute("data-product-id");

                console.log("product id = ", productId);

                try {
                    let result = await fetch(
                        `http://localhost:3000/product/${productId}`, 
                        {
                            method: "DELETE",
                    });
                    console.log("delete response = ", result);
                    if(result.ok) {
                        return window.location = result.url;
                    } 
                } catch(err) {
                    console.log("error name = ", err.name);
                    console.log("error message = ", err.message);
                    return;
                }
            }

            // Event Listeners
            deleteBtnAll.forEach(deleteBtn => {
                deleteBtn.addEventListener("click", handleDeleteBtn);
            })

        </script>
    </body>
</html>